/TEMAS GABRIEL/T7/Ejercicio1/nbproject/private/
/TEMAS GABRIEL/T7/Ejercicio1/build/
/TEMAS GABRIEL/T7/Ejercicio2/nbproject/private/
/TEMAS GABRIEL/T7/Ejercicio2/build/
/TEMAS GABRIEL/T7/Ejercicio3/nbproject/private/
/TEMAS GABRIEL/T7/Ejercicio3/build/
/TEMAS GABRIEL/T7/Ejercicio8/nbproject/private/
/TEMAS GABRIEL/T7/Ejercicio8/build/
/TEMAS GABRIEL/T7/Ejercicio9/nbproject/private/
/TEMAS GABRIEL/T7/Ejercicio9/build/
